@bootstrap-path: "/libs/bootstrap/less/";

@import "@{bootstrap-path}variables.less";

@import "@{bootstrap-path}mixins/size.less";
@import "@{bootstrap-path}mixins/text-overflow.less";
@import "@{bootstrap-path}mixins/vendor-prefixes.less";

@icon-font-path: "/libs/bootstrap/fonts/";
@import "@{bootstrap-path}glyphicons.less";

// Webfonts
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,500,400italic,500italic);

@text-color: white;
@font-size-base: 22px;

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @text-color;
}

html, body {
	background: transparent;
}

// MIXINS

.overflow-ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// MAIN

::-webkit-scrollbar {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	display: table;
	content:" "
}

.clearfix:after {
	clear: both
}

// VARIABLES

@default-bg-color: #133144;
@default-gradient-light: linear-gradient(to bottom, #162837 0%,#17394b 100%);
@default-gradient-light-inverted: linear-gradient(to bottom, #123142 0%,#15243b 100%);
@default-gradient-light-inverted-alt: linear-gradient(to bottom, #163a4a 0%,#162837 33%, #17394b 100%);
@default-gradient-dark: linear-gradient(to bottom, #1d3440 0%,#0e1d27 100%);
@default-gradient-dark-inverted: linear-gradient(to bottom, #111f2f 0%,#11202c 100%);
@position-gradient: linear-gradient(to bottom, #ffffff 0%,#e1e1ff 100%);

// GLOBAL
.irtvso {
	position: absolute;

	&.top-aligned {
		top: 55px;
	}

	&.bottom-aligned {
		bottom: 0;
	}

	.position {
		position: relative;
		float: left;
		width: 75px;
		height: 40px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		z-index: 5;
		background: @position-gradient;
		-webkit-mask: url(../img/position-number-mask.svg) no-repeat;
		text-align: center;
		text-indent: -10px;
		font-style: italic;
		font-weight: 500;
		font-size: 1.3em;
		line-height: 1.25em;
		color: #0e1d27;
	}

	.car-number {
		width: 130px;
		height: 40px;
		float: left;
		background: @default-gradient-dark;
		-webkit-mask: url(../img/car-number-mask.svg) top right no-repeat;
		z-index: 1;
		text-align: center;
		text-indent: 20px;
		font-style: italic;
		font-weight: 500;
		font-size: 1.3em;
		line-height: 1.25em;
		color: #ffffff;

		.car-class {
			width: 38px;
			height: 33px;
			float: right;
			-webkit-mask: url(../img/car-class-mask.svg) top right no-repeat;
			margin-top: 3px;
			margin-right: 8px;
		}
	}

	.position + .car-number {
		margin-left: -30px;
		text-indent: 30px;
	}
}

// SESSION INFO

#session-info {
	width: 210px;
	left: 50%;
	margin-left: -105px;
	font-size: 1.2em;
	line-height: 1.6em;

	.remaining, .session-flag {
		position: relative;
		height: 40px;
		text-align: center;
		text-transform: uppercase;
	}

	.remaining {
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: @default-gradient-dark;
		overflow: hidden;
		padding-right: 20px;

		.corner {
			width: 30px;
			height: 40px;
			position: absolute;
			top: 0;
			right: 0;
			background: @default-gradient-dark-inverted;
			-webkit-mask-image: url(../img/session-info-mask.svg);
		}
	}

	.session-flag {
		border-radius: 10px;
		border-top-left-radius: 0;
		color: black;
		font-weight: 500;
		display: none;

		&.yellow-flag, &.green-flag, &.white-flag, &.checkered-flag {
			display: block;
		}

		&.yellow-flag {
			background: linear-gradient(to bottom, darken(#ccca31, 15%) 0%,#ccca31 100%);
		}

		&.green-flag {
			background: linear-gradient(to bottom, darken(#299a0b, 15%) 0%,#299a0b 100%);
		}

		&.checkered-flag {
			background: url(../img/checkered-flag.jpg) top left no-repeat;
			background-size: 300px;
		}
	}

}

// GAP TICKER

#gap-ticker {
	left: 0;
	right: 0;
	height: 95px;
	background: @default-gradient-light;
	overflow: hidden;
	font-size: 1.2em;
	text-transform: uppercase;

	.title {
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 95px;
		padding-top: 5px;
		z-index: 10;
		text-align: center;
		font-weight: 500;
		font-style: italic;
		text-indent: 40px;
		background: @default-gradient-light-inverted-alt;
		-webkit-mask-image: url(../img/gap-ticker-title-mask.svg);
	}

	.item-wrapper {
		white-space: nowrap;
		position: absolute;

		.gap-item {
			width: 730px;
			height: 95px;
			position: relative;
			white-space: normal;
			display: inline-block;
			line-height: 1.25em;

			> * {
				float: left;
			}

			.number-wrapper {
				height: 100%;
				margin-right: 5px;
			}

			.name, .gap-time {
				margin-top: 5px;
			}

			.name {
				width: 375px;
				.overflow-ellipsis();
			}

			.gap-time {
				text-align: right;
				width: 130px;
			}

			.divider {
				width: 3px;
				height: 30px;
				margin: 5px 20px;
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 50%,rgba(255,255,255,0) 100%);
			}
		}
	}
}

